@font-face {
  font-family: "Rubik";
  src: url("./src/fonts/Rubik-variable.woff2") format("woff2");
  unicode-range: U+0025-00FF;
}

body {
  font-family: Rubik;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
